[submodule "vendor/GameTracking-CS2"]
	path = vendor/GameTracking-CS2
	url = git@github.com:SteamDatabase/GameTracking-CS2.git
	shallow = true
[submodule "cs2s"]
	path = cs2s
	url = git@github.com:noahbkim/cs2s.git
[submodule "vendor/metamod-source"]
	path = vendor/metamod-source
	url = https://github.com/alliedmodders/metamod-source
	shallow = true
	ignore = dirty
[submodule "vendor/hl2sdk"]
	path = vendor/hl2sdk
	url = https://github.com/alliedmodders/hl2sdk
	branch = cs2
